//
// Section Header
// --------------------------------------------------

// Variable
// --------------------------------------------------
$header-navbar-border-color: #D1DDE9 !default;

// Mixin
// --------------------------------------------------

// Making
// --------------------------------------------------
.header {
  .navbar{
    padding: 0;
    border-bottom: 1px solid $header-navbar-border-color;
  }

  .navbar-brand .logo {
    height: rem(52px);
    margin: 1.25rem 1.875rem;
    display: none;
  }

  .navbar-nav {
    &.navbar-primary,
    &.navbar-secondary {
      .nav-item {
        font-size: rem(13px);
        text-transform: uppercase;
      }
    }

    &.navbar-primary {
      padding-right: rem($CONST-BASE-UNIT * 14);
      .nav-item {
        .nav-link {
          padding: rem(($CONST-BASE-UNIT * 2) ($CONST-BASE-UNIT * 1.5));
        }
      }
    }

    &.navbar-secondary {
      .nav-item {
        border-left: 1px solid $header-navbar-border-color;
        padding: 0;
        .nav-link {
          padding: rem(($CONST-BASE-UNIT * 2) ($CONST-BASE-UNIT * 2.5));
        }
        .icon {
          height: rem(41px);
          width: 100%;
          display: block;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}